.wrap{
	min-width:400px;
	width:80%;
	margin:auto;
	background:green; 
	/* below css is used when you dont have footer and clear:both doesn't work
	in this case then for whole body and background we use overflow
	
	overflow: hidden;
	*/
}
	
.content, aside{
	height:600px;
}

.content{
	background:red;
	float:left;
	width:80%;
}

aside{
	background:brown;
	float: left;
	width:20%;
	
}

aside ul{
	padding-left:0;
	list-style:none;
}
footer{
	clear:both;
}

